@tailwind base;
@tailwind components;
@tailwind utilities;
/* slick-carousel css */
@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";
/* Ẩn thanh cuộn ngang khi dùng overflow-x-auto */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE và Edge */
  scrollbar-width: none;     /* Firefox */
}


